---
site_name: 楠瓜室
site_description: Record. Reflect. Reveal.
site_author: PumpkinJui
site_url: https://www.pumpkinjui.com/
copyright: |
  Copyright &copy; 2025 PumpkinJui
  <br><a href="https://beian.miit.gov.cn/" target="_blank">蒙 ICP 备 2025029368 号 - 1</a>
  <br><img src="/img/mps.png" style="height: 1em; vertical-align: middle;" />
  <a href="https://beian.mps.gov.cn/#/query/webSearch?code=15010502002400" rel="noreferrer" target="_blank">蒙公网安备 15010502002400 号</a>
  <br><a href="https://icp.gov.moe/?keyword=20258074" target="_blank">萌 ICP 备 20258074 号</a>
repo_url: https://github.com/PumpkinJui/blog/
theme:
  name: material
  features:
    - content.code.annotate
    - content.code.copy
    - content.footnote.tooltips
    - content.tabs.link
    - header.autohide
    - navigation.footer
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.indexes
    - navigation.prune
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  icon:
    tag:
      ai: material/robot
      gitbook: simple/gitbook
      mc: material/minecraft
      pages: simple/cloudflarepages
      py: simple/python
      pushu: material/pine-tree
      relations: material/account-multiple
      music: material/music
  language: zh
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: 切换到亮色模式
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: 切换到暗色模式
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: 切换到自动模式
nav:
  - index.md
  - Blog:
    - blog/index.md
  - 关于:
    - about/index.md
    - about/history.md
    - about/slogan.md
markdown_extensions:
  - attr_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem
  - pymdownx.blocks.admonition
  - pymdownx.blocks.details
  - pymdownx.blocks.tab:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.caret
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.fancylists
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      linenums: true
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys:
      camel_case: true
  - pymdownx.magiclink:
      repo_url_shortener: true
      user: PumpkinJui
      repo: blog
      normalize_issue_symbols: true
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      disable_indented_code_blocks: true
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - mdx_truly_sane_lists
plugins:
  - search
  - meta
  - blog:
      blog_toc: true
      categories_allowed:
        - 随感集
        - 附中
        - 西大
        - 技术
        - 评 &amp; 感
        - 生活
        - 心理
        - 学习
        - 游戏
      draft_if_future_date: true
      post_excerpt: required
      post_readtime: false
      post_slugify_separator: _
  - offline
  - privacy:
      enabled: !ENV [CI, false]
  - social:
      enabled: !ENV [CI, false]
      cards_layout_options:
        font_family: Noto Sans SC
  - tags
  - git-revision-date-localized:
      # enabled: !ENV [CI, false]
      enable_creation_date: true
      fallback_to_build_date: true
      timezone: Asia/Shanghai
  - rss:
      enabled: !ENV [CI, false]
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date.created
        as_update: date.updated
      categories:
        - categories
        - tags
extra:
  social:
    - icon: material/rss
      link: https://www.pumpkinjui.com/feed_rss_updated.xml
      name: RSS Feed
    - icon: material/github
      link: https://github.com/PumpkinJui
      name: GitHub
    - icon: material/email-outline
      link: mailto:blog@pumpkinjui.aleeas.com
      name: Email
  tags:
    AI: ai
    GitBook: gitbook
    Minecraft: mc
    Pages: pages
    Python: py
    朴树: pushu
    人际: relations
    音乐: music
